
#Este archivo serviría como base para todos los demás servicios que se conecten
management:
  endpoints:
    web:
      exposure:
        include: env
app-host: localhost
# Propiedades Datasource
ds:
  oracle:
    dialect: org.hibernate.dialect.Oracle8iDialect
    driver: oracle.jdbc.OracleDriver    
    server:
      host: preexa01.gobex.pri
      port: 1521
      service-name: sdrdescorpora5
      error:
        include-message: always
    db:
      name: AGR_GESTIONFORESTAL
      owner-name: agr_gesfor_app
      password: gesforD3sC0n


