#Este archivo serviria como base para todos los demas servicios que se conecten
app.message: Hola Mundo desde application base

app.eureka-server: localhost
app.eureka-port: 8761

app.gateway-server: localhost
app.gateway-port: 8080

app.customer-server: localhost
app.customer-port: 9000

app.security-server: localhost
app.security-port: 8861

app.oracle-server: exa02db04-vip.gobex.pri
app.oracle-port: 1521
app.oracle-name: AGR_GESTIONFORESTAL

server.error.include-message: always