
#Este archivo serviría como base para todos los demás servicios que se conecten
app-host: localhost
app:
  version: version?
# Propiedades Datasource
ds:
  jndi: weblogic/datasources/GeforexDS
  oracle:
    dialect: org.hibernate.dialect.Oracle8iDialect
    driver: oracle.jdbc.OracleDriver    
    server:      
      host: preexa01.gobex.pri
      port: 1521
      service-name: sdrdescorpora5
 
      error:
        include-message: always
    db:
      name: AGR_GESTIONFORESTAL
      owner-name: agr_gesfor_app
      password: gesforD3sC0n
server:
  ssl:
    enabled: true
    store: classpath:AutoFirmV3Store.p12
    password: geforex
    type: PKCS12
    alias: autofirmadov3
jwt:
  secret: askljdhfgenerarclaveconalgunaherramientacomokeypassasdasdggf
  expiration: 86400
#####Propiedades especificas para cada Servicio


