#Este archivo serviría como base para todos los demás servicios que se conecten

# Propiedades sevidor Gateway
app.gateway-server-host: localhost
app.gateway-server-port: 443

# Propiedades sevidor Eureka
app.eureka-server-host: localhost
app.eureka-server-port: 8761

# Propiedades servidor seguridad
app.security-server-host: localhost
app.security-server-port: 8070

# Propiedades servicio customer
app.customer-host: localhost
app.customer-port: 8090 

# Propiedades Datasource
app.oracle-server-host: exa02db04-vip.gobex.pri
app.oracle-server-port: 1521
app.oracle-service-name: decorp5
app.oracle-db-name: AGR_GESTIONFORESTAL
app.oracle-db-owner-name: agr_gesfor
app.oracle-db-password: gesfordesowner
app.oracle-dialect: org.hibernate.dialect.Oracle8iDialect
app.oracle-driver: oracle.jdbc.OracleDriver
server.error.include-message: always

